services:
  globalprotect:
    # image: ghcr.io/rmanluO/globalprotect-docker:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
    hostname: globalprotect
    restart: unless-stopped
    tty: true
    volumes:
      - ./config/com.yuezk.qt:/root/.config/com.yuezk.qt
      - ./config/gp.conf:/etc/gpservice/gp.conf
      - ./config/hipreport.sh:/root/hipreport.sh
    devices:
      - /dev/net/tun
      - /dev/vhost-net
    cap_add:
      - NET_ADMIN
    ports:
      - 127.0.0.1:8083:8083
      - 127.0.0.1:10081:1080
    networks:
      - globalprotect
    environment:
      - QTWEBENGINE_CHROMIUM_FLAGS=--no-sandbox
      - APP_VERSION=6.2.1-12
      # Enable clipboard and mobile keyboard support
      - NOVNC_ENABLE_CLIPBOARD=1
      - NOVNC_MOBILE_KEYBOARD=1
 
networks:
  globalprotect:
    external: false
    name: globalprotect
